body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background: #004aad;
  color: #fff;
  padding: 20px;
  text-align: center;
}
header nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

section {
  padding: 40px 20px;
}

footer {
  background: #ccc;
  text-align: center;
  padding: 10px;
}
